<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDBOOKING - Đăng nhập</title>
</head>
<body>

    <header>
        <div class="logo">MEDBOOKING</div>
        <span>Hotline: 1999 0081</span>
    </header>

    <main>
        <section class="login-form-container">
            <a href="home.html">← Quay lại trang chủ</a>
            <h1>Đăng nhập</h1>

            <form action="#" method="POST">
                
                <div>
                    <label for="email">Gmail</label>
                    <input type="email" id="email" name="email" placeholder="example@gmail.com" required>
                </div>

                <div>
                    <label for="password">Mật khẩu</label>
                    <input type="password" id="password" name="password" placeholder="Nhập mật khẩu" required>
                </div>

                <div class="form-actions">
                    <a href="#">Quên mật khẩu ?</a>
                </div>

                <button type="submit">Chấp nhận</button>
            </form>

            <div class="register-redirect">
                <p>Nếu là bệnh nhân chưa có tài khoản? <a href="dk.html">Đăng ký tài khoản bệnh nhân mới</a></p>
            </div>
        </section>
    </main>

</body>
</html>