<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedBooking - Quản lý Lịch hẹn</title>
</head>
<body>
    <header>
        <h1>MedBooking - Cổng Lễ Tân</h1>
        <nav>
            <ul>
                <li><a href="dashboard.html">Tổng quan</a></li>
                <li><a href="quan_ly_lich_hen.html"><strong>Quản lý lịch hẹn</strong></a></li>
                <li><a href="danh_sach_lich_hen.html">Danh sách ca trực</a></li>
                <li><a href="check_in.html">Check-in</a></li>
                <li><a href="vien_phi.html">Viện phí</a></li>
                <li><a href="ho_so_ca_nhan.html">Hồ sơ cá nhân</a></li>
                <li><a href="../dk_dn/dn.html">Đăng xuất</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <main>
        <h2>Quản lý Lịch hẹn Khám bệnh</h2>
        <form>
            <fieldset>
                <legend>Tìm kiếm & Lọc lịch hẹn</legend>
                <label>Mã lịch / Tên bệnh nhân:</label><br>
                <input type="text" placeholder="Nhập từ khóa..."><br><br>
                <label>Ngày khám:</label><br>
                <input type="date"><br><br>
                <button type="submit">Tìm kiếm</button>
            </fieldset>
        </form>
        <br>
        <section>
            <h3>Danh sách lịch hẹn toàn hệ thống</h3>
            <table border="1" cellpadding="8" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã LH</th>
                        <th>Bệnh nhân</th>
                        <th>Bác sĩ</th>
                        <th>Thời gian</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>LH01</td>
                        <td>Trần Thị B</td>
                        <td>BS.CKI Trần Thị C</td>
                        <td>18:30 - 19:30 (Ca tối - Phụ thu 10%)</td>
                        <td>Đã xác nhận</td>
                        <td>
                            <a href="doi_lich.html"><button type="button">Đổi lịch</button></a>
                            <a href="doi_khung_gio.html"><button type="button">Đổi giờ</button></a>
                            <a href="chi_tiet_kham.html"><button type="button">Chi tiết</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <hr>
    <footer><p>&copy; 2026 MedBooking.</p></footer>
</body>
</html>